[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = kpankushs
	email = 57558976+kpankushs@users.noreply.github.com
